textarea.large-text {
  width: 85%;
  height: 75px;
}

.hasDatepicker {
  /** width: 60%; **/
}

input.small-text {
  width: 100px;
  height: 28px;
}

.reporttable {
  background-color: #e3e4e4;
  padding: 0px;
}

.reporttable th {
  background-color: #00aacb;
  padding: 10px;
}

.reporttable tr:nth-child(even) {
  background: #d6f1f6;
}

.reporttable tr:nth-child(odd) {
  background: #fff;
}

.reporttable td {
  padding: 10px;
}

/** Dashboard boxes **/
.summary-boxes td { width: 33%; vertical-align: top; }
.summary-boxes-header td { padding: 10px; font-weight: 800; color: white; }
.summary-boxes-header td h2 { font-size: 42px !important; font-weight: 800; color: white; }
.highlight-boxes {  width: 100%; }
.highlight-boxes tr td { padding: 20px 10px; text-align: left; font-size: 1.1em; }
.highlight-boxes tr td  a { text-decoration: none; }
.highlight-boxes .row div span {
  float: right;
}
.highlight-boxes .row .summary-total {
  padding-top: 5px;
  border-top: 1px solid darkgrey;
  border-bottom: 2px double darkgrey;
}
/** DASHBOARD BUTTONS*/
.click-button {
  /*background-color: #4CAF50; /* Green */

  padding: 10px 26px;

  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*.click-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
*/
/** Calendar **/
.calendar-projects {
  border-left: 5px solid red;
  padding-left: 6px;
}
/** accounts **/
.calendar-accounts a{
  border-left: 5px solid blue;
  padding-left: 6px;
  font-size: 14px;
  color:#5d5757 !important;
}
/** tasks **/
.calendar-tasks  a {
  border-left: 5px solid hsl(60, 100%, 50%);
  padding-left: 6px;
  font-size: 14px;
  color:#5d5757 !important;
}
/** opportunity **/
.calendar-opportunity a{
  border-left: 5px solid green;
  padding-left: 6px;
  font-size: 14px;
  color:#5d5757 !important;
}
ul.inline li { display: inline; padding-right: 5px; }
ul.inline li:after { content: '  |'; }
.red { color: red; }

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/***/
.menu-crm {
  background-color: #999999;
  color: black;
  cursor: default;
  width: 90%%;
  padding-left: 10px;
}
